
 <%- include partials/header.ejs %>
 <%- include  partials/main_nav.ejs %>
 <div style="background-color: rgb(156, 134, 104);height: 100vh;">
 <div class="container">
  <h1 style="text-align: center;"> About Me</h1>
  <hr><br>
  <div class="row">
  <div class="col">
  <img src="./assets/images/dp.jpg" alt="Nature"  width="400" height="500">
</div>
<div class="col">
<p>
 Hi! My name is Anmol Singh and I am from the largest province of India Uttar Pradesh.
  I am currently studying in Software Engineering Technology program at Centennial College. My student Id is 301145362.
 <br><br>
 I have completed my Bachelors of Technology from Abdul Kalam Technical University, Lucknow  with specialization in Computer Science stream. In my bachelors , I learned about the basic of programming such as C, python, Software testing & Quality Assurance, JAVA, Oracle along with Data Structures and Software Design and Analysis.
 <br><br>
   I have worked on various projects on my own for learning purposes. Along with this, I tried web development using various languages for backend such as 
   c#,java, and python. for front end I have used html,CSS,Bootstrap, and java script.
</p>

<div class="d-grid gap-2">
  <button class="btn btn-secondary" type="submit" onclick="window.open('https://1drv.ms/b/s!AvlXqKbqP3IZt3z4sH31TUK9emkI')" >Download my Resume</button>
</div>
</div>
</div>
</div>
<br><br>
</div>


  <%- include  partials/bottom_nav.ejs %>
<%- include  partials/footer.ejs %> 