
 <%- include partials/header.ejs %>
 <%- include  partials/main_nav.ejs %>
<div style="background-color: rgb(156, 134, 104);height: 100vh;">
     <h3 style="text-align: center;">Projects</h3>
    <div class="container card mb-3" style="max-width: 80vw;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://cdn-cijne.nitrocdn.com/aBiIcozQukWKTNFbftZHiMgGgjAplCWx/assets/static/optimized/www.lovelycoding.org/wp-content/uploads/2021/01/2e4e4e94406fdde42f98e8e85f536b92.College-Management-System.jpg#038;ssl=1" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">College Management System</h5>
              <p class="card-text">This website manages the college operations regarding students and teachers. Its has attendence management, fees management, salery management, and students data
                  . I have used python with django framework to develop this site.
              </p>
            </div>
          </div>
        </div>
  </div>

 
 <div class="container card mb-3" style="max-width: 80vw;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://c.ndtvimg.com/2019-10/o52ta3a8_sweets-_625x300_26_October_19.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Sweet Shop</h5>
          <p class="card-text">Website for online sweet orders. This website handles the customer orders
              and delivery of the particular order. It also has online payment system using paytm gateway. I used C#.NET framework to develop this site </p>
         
        </div>
      </div>
    </div>
</div>



</div>


  <%- include  partials/bottom_nav.ejs %>
<%- include  partials/footer.ejs %> 